.container {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid red; /* TODO REMOVE */
}

.search {
  height: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  border: 1px solid green; /* TODO REMOVE */
}

.search div {
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.search div label, button {
  text-transform: uppercase;
}

.search div input {
  height: 30px;
  line-height: 30px;
  font-size: 30px;
  /* width: 30%; */
}

.search div button {
  height: 36px;
  line-height: 30px;
  font-size: 30px;
}

ul.movies {
  margin: 0;
  padding: 0;
  list-style-type: none;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid navy; /* TODO REMOVE */
}

ul.movies li {
  margin: 30px;
  padding-top: 30px;
  width: 360px;
  height: 530px;
  border: 1px solid gray;
  border-radius: 15px;
  text-align: center;
}
